body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42; /* Listedeki 1. madde */
  text-decoration: none;
}

.address-section ul li:first-child .email-link:hover {
  color: #404bbf;
}

.address-section ul li:first-child .email-link:focus {
  color: #404bbf;
}

nav ul li:first-child .nav-link:hover {
  color: #404bbf;
}

nav ul li:first-child .nav-link:focus {
  color: #404bbf;
}

header nav a.logo-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
}

header nav a.logo-title .studio {
  color: #2e2f42;
}

header .address-section {
  font-style: normal;
}

.address-section ul li:first-child .email-link {
  color: #434455;
}

.hero-section {
  background-color: #2e2f42;
  text-align: center;
}

.hero-section h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-section .order-service-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-section .order-service-button:hover,
.hero-section .order-service-button:focus {
  background-color: #404bbf;
}

.features-section {
  background-color: #f4f4fd; /* 3. section */
}

.features-section h2 {
  font-size: 36px; /* 3. section */
  line-height: 1.11; /* 3. section */
  text-align: center; /* 3. section */
  letter-spacing: 0.02em; /* 3. section */
  text-transform: capitalize; /* 3. section */
  color: #2e2f42; /* 3. section */
}

.features-section li {
  background-color: #ffffff; /* Listedeki 1. madde */
}

.features-section h3,
.team-section h3,
.portfolio-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-section p,
.team-section p,
.portfolio-section p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.footer-section {
  background-color: #2e2f42;
}

.footer-section a.logo-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
}

.footer-section a.logo-title .sub-title {
  color: #2e2f42;
}

.footer-section p.footer-description {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.team-section h2,
.portfolio-section h2 {
  font-size: 36px; /* 4. section */
  line-height: 1.11; /* 4. section */
  text-align: center; /* 4. section */
  letter-spacing: 0.02em; /* 4. section */
  text-transform: capitalize; /* 4. section */
  color: #2e2f42; /* 4. section */
}
